@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2d283e;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  height: 6.25rem;
  z-index: 50;
}

.header._header-scroll {
  position: fixed;
  top: -200%;
  background-color: rgba(45, 40, 62, 0.5);
  -webkit-backdrop-filter: blur(10px) saturate(65%) contrast(120%);
          backdrop-filter: blur(10px) saturate(65%) contrast(120%);
}

.header._header-show {
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
  top: 0;
}

.header__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__loader {
  position: relative;
  width: 100%;
  height: 0.125rem;
  background: #fff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3333333333));
}

.header__loader::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, right top, from(#802bb1), color-stop(#2d283e), color-stop(#564f6f), color-stop(#4c495d), color-stop(#d1d7e0), color-stop(#802bb1), color-stop(#2d283e), color-stop(#564f6f), color-stop(#4c495d), to(#d1d7e0));
  background: -o-linear-gradient(left, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0);
  background: linear-gradient(90deg, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0);
  -webkit-animation: loader 30s linear infinite;
          animation: loader 30s linear infinite;
  background-size: 500%;
}

.header__loader::after {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, right top, from(#802bb1), color-stop(#2d283e), color-stop(#564f6f), color-stop(#4c495d), color-stop(#d1d7e0), color-stop(#802bb1), color-stop(#2d283e), color-stop(#564f6f), color-stop(#4c495d), to(#d1d7e0));
  background: -o-linear-gradient(left, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0);
  background: linear-gradient(90deg, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0);
  -webkit-animation: loader 20s linear infinite;
          animation: loader 20s linear infinite;
  background-size: 500%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

@-webkit-keyframes loader {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 500% 0;
  }
}

@keyframes loader {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 500% 0;
  }
}

.logo-header__box {
  overflow: hidden;
  position: relative;
  width: 4.6875rem;
  height: 4.6875rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.logo-header__box::before {
  content: "";
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: absolute;
  inset: -0.625rem 1.25rem;
  background: -o-linear-gradient(135deg, #802bb1, #d1d7e0);
  background: linear-gradient(315deg, #802bb1, #d1d7e0);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

.logo-header__box::after {
  content: "";
  position: absolute;
  inset: 0.1875rem;
  background: #2d283e;
  border-radius: 50%;
  z-index: 1;
}

.logo-header__content {
  overflow: hidden;
  position: absolute;
  inset: 0.3125rem;
  border: 0.1875rem solid #070a1c;
  z-index: 3;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.1em;
  width: 4.6875pxrem;
  height: 4.6875pxrem;
}

.logo-header__img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  pointer-events: none;
  z-index: 3;
}

.logo-header__img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo-header__link {
  position: relative;
  font-size: 2.25rem;
  letter-spacing: 0.05em;
  padding: 0.5rem 0.8125rem;
  background-color: #fff;
  color: #070a1c;
  border-radius: 1.5625rem;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.menu__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.menu__link {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  height: 0.1875rem;
  width: 0%;
  bottom: -0.3125rem;
  left: 0;
  background-color: #802bb1;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.menu__link._navigator-active::before {
  content: "";
  width: 100%;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #2d283e;
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copy {
  line-height: 150%;
}

.footer__name {
  line-height: 150%;
}

.footer span {
  color: orange;
}

.footer__loader {
  position: relative;
  width: 100%;
  height: 0.625rem;
  background: #fff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3333333333));
}

.footer__loader::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, right top, left top, from(#802bb1), color-stop(#2d283e), color-stop(#564f6f), color-stop(#4c495d), color-stop(#d1d7e0), color-stop(#802bb1), color-stop(#2d283e), color-stop(#564f6f), color-stop(#4c495d), to(#d1d7e0));
  background: -o-linear-gradient(right, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0);
  background: linear-gradient(-90deg, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0);
  -webkit-animation: loader 30s linear infinite;
          animation: loader 30s linear infinite;
  background-size: 500%;
}

.footer__loader::after {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, right top, left top, from(#802bb1), color-stop(#2d283e), color-stop(#564f6f), color-stop(#4c495d), color-stop(#d1d7e0), color-stop(#802bb1), color-stop(#2d283e), color-stop(#564f6f), color-stop(#4c495d), to(#d1d7e0));
  background: -o-linear-gradient(right, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0);
  background: linear-gradient(-90deg, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0, #802bb1, #2d283e, #564f6f, #4c495d, #d1d7e0);
  -webkit-animation: foter 20s linear infinite;
          animation: foter 20s linear infinite;
  background-size: 500%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

@-webkit-keyframes foter {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 500% 0;
  }
}

@keyframes foter {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 500% 0;
  }
}

*::-moz-selection {
  background-color: #802bb1;
}

*::selection {
  background-color: #802bb1;
}

* {
  scroll-behavior: smooth;
}

.navigation {
  z-index: 2;
  position: fixed;
}

.navigation__menuToggle {
  position: relative;
  width: 4.375rem;
  height: 4.375rem;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__menuToggle::before {
  content: "+";
  font-size: 0.875rem;
  font-size: 4rem;
  font-weight: 300;
  color: #802bb1;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.navigation__menuToggle._active::before {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}

.navigation__menuToggle._active .navigation__menu {
  height: 15rem;
  width: 4.375rem;
  z-index: 1;
  -webkit-transform: translateY(-10.9375rem);
      -ms-transform: translateY(-10.9375rem);
          transform: translateY(-10.9375rem);
  -webkit-transition: width 0.5s, height 0.5s ease 0s, -webkit-transform 0s;
  transition: width 0.5s, height 0.5s ease 0s, -webkit-transform 0s;
  -o-transition: transform 0s, width 0.5s, height 0.5s ease 0s;
  transition: transform 0s, width 0.5s, height 0.5s ease 0s;
  transition: transform 0s, width 0.5s, height 0.5s ease 0s, -webkit-transform 0s;
}

.navigation__menuToggle._active .navigation__menu::before {
  content: "";
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
  bottom: -0.375rem;
}

.navigation__menuToggle._active .menu-navigation .menu-navigation__item {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: calc(0.5s + var(--i));
       -o-transition-delay: calc(0.5s + var(--i));
          transition-delay: calc(0.5s + var(--i));
  -webkit-transform: translateX(0rem);
      -ms-transform: translateX(0rem);
          transform: translateX(0rem);
}

.navigation__menu {
  overflow: hidden;
  -webkit-transition: width 0.5s, height 0.5s ease 0s, -webkit-transform 0.5s;
  transition: width 0.5s, height 0.5s ease 0s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, width 0.5s, height 0.5s ease 0s;
  transition: transform 0.5s, width 0.5s, height 0.5s ease 0s;
  transition: transform 0.5s, width 0.5s, height 0.5s ease 0s, -webkit-transform 0.5s;
  -webkit-transition-delay: 1s, 0.5s, 0.5s;
       -o-transition-delay: 1s, 0.5s, 0.5s;
          transition-delay: 1s, 0.5s, 0.5s;
  position: absolute;
  width: 1.875rem;
  height: 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 70px;
  z-index: -1;
}

.menu-navigation {
  cursor: default;
}

.menu-navigation ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  gap: 2.5rem;
}

.menu-navigation__item {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  -webkit-transition-delay: calc(0s + var(--i));
       -o-transition-delay: calc(0s + var(--i));
          transition-delay: calc(0s + var(--i));
  -webkit-transform: translateX(-1.875rem);
      -ms-transform: translateX(-1.875rem);
          transform: translateX(-1.875rem);
}

.menu-navigation__link {
  display: block;
}

.menu-navigation__img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.menu-navigation__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-navigation .fa {
  font-size: 2.5rem;
  color: transparent;
  -webkit-text-stroke: 2px #802bb1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.no-webp .main{
  background: url(../img/main/bg.jpg) center/cover no-repeat; }

.main {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.main::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 1000vh;
  background: rgba(0, 0, 0, 0.5);
}

.main__container {
  position: relative;
}

.main__title {
  color: #fff;
  line-height: 1.15;
  font-weight: 700;
  max-width: 43.75rem;
  opacity: 0;
  -webkit-transform: translateX(-9.375rem);
      -ms-transform: translateX(-9.375rem);
          transform: translateX(-9.375rem);
  -webkit-transition: opacity 1.2s, -webkit-transform 1s;
  transition: opacity 1.2s, -webkit-transform 1s;
  -o-transition: transform 1s, opacity 1.2s;
  transition: transform 1s, opacity 1.2s;
  transition: transform 1s, opacity 1.2s, -webkit-transform 1s;
}

.main__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

._watcher-view .main__title {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.main__text {
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
  max-width: 62.5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(9.375rem);
      -ms-transform: translateY(9.375rem);
          transform: translateY(9.375rem);
}

.main__text:not(:last-child) {
  margin-bottom: 3.125rem;
}

._watcher-view .main__text {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.main__decor {
  font-size: 6.25rem;
  color: rgba(255, 255, 255, 0.3);
  line-height: 150%;
  position: absolute;
  top: -25%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  max-width: 12.4375rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(9.375rem);
      -ms-transform: translateY(9.375rem);
          transform: translateY(9.375rem);
}

._watcher-view .main__decor {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 1;
  visibility: visible;
}

.my-creativity__container {
  position: relative;
}

.my-creativity__title {
  padding: 1.25rem 0.625rem;
  display: inline-block;
  line-height: 150%;
  text-transform: uppercase;
  background-color: #802bb1;
  color: #fff;
}

.my-creativity__items {
  -ms-grid-row-align: start;
      align-self: start;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.my-creativity__item {
  max-width: 31.25rem;
}

.my-creativity__btn {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-creativity__btn span {
  background-color: #564f6f;
  color: #fff;
  line-height: 150%;
  text-align: center;
  padding: 0.625rem 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.my-creativity__decor {
  font-size: 6.25rem;
  color: #000;
  line-height: 150%;
  position: absolute;
  top: 0;
  left: -12.5rem;
  max-width: 12.4375rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -10%);
      -ms-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}

.my-creativity__decor._watcher-view {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translate(25%, -10%);
      -ms-transform: translate(25%, -10%);
          transform: translate(25%, -10%);
  opacity: 1;
  visibility: visible;
}

.item-my-creativity {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-my-creativity__img {
  display: inline-block;
  max-width: 31.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-bottom: 56.1797752809%;
  scale: 1;
  position: relative;
}

.item-my-creativity__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-my-creativity__content {
  color: #fff;
  background-color: #564f6f;
  padding: 1.25rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-my-creativity__title {
  line-height: 150%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-my-creativity__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-my-creativity__text {
  line-height: 150%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-my-creativity__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-my-creativity__instrument {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 0.125rem 0.3125rem;
  display: inline-block;
  line-height: 150%;
  text-transform: uppercase;
  background-color: #802bb1;
  border-radius: 1.25rem;
}

.quote {
  background-color: #2d283e;
  -webkit-box-shadow: 0.3125rem 0rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.3125rem 0rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.5);
}

.quote__text {
  color: #fff;
  line-height: 150%;
}

.music__container {
  position: relative;
}

.music__title {
  display: inline-block;
  background-color: #564f6f;
  line-height: 150%;
  padding: 1.25rem 0.625rem;
  color: #fff;
  text-transform: uppercase;
}

.music__dotts {
  padding-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
}

.music__dotts .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.3125rem 0.9375rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.music__dotts .swiper-pagination-bullet-active {
  background-color: #802bb1;
  padding: 0.3125rem 1.25rem;
}

.slide-music__body {
  position: relative;
}

.slide-music__img-ibg {
  padding-bottom: 66.6666666667%;
}

.slide-music__img-ibg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-music__name {
  position: absolute;
  bottom: 0.9375rem;
  left: 0.9375rem;
  right: 0.9375rem;
  padding: 0.625rem 0.3125rem;
  background-color: #802bb1;
  color: #fff;
}

.music__icon {
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.001s ease 0s;
  -o-transition: all 0.001s ease 0s;
  transition: all 0.001s ease 0s;
  max-width: 3.125rem;
}

.music__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.music__icon_1 {
  top: 1.25rem;
  right: 3.125rem;
}

.music__icon_2 {
  top: -2.1875rem;
  left: 1.25rem;
}

.music__icon_3 {
  right: 13.75rem;
}

.music__decor {
  position: absolute;
  top: 0rem;
  right: -12.5rem;
  line-height: 150%;
  font-size: 6.25rem;
  max-width: 10.625rem;
  opacity: 0;
  -webkit-transform: translateX(9.375rem);
      -ms-transform: translateX(9.375rem);
          transform: translateX(9.375rem);
  visibility: hidden;
}

.music__decor._watcher-view {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.about-me__title {
  display: inline-block;
  background-color: #2d283e;
  line-height: 150%;
  padding: 1.25rem 0.625rem;
  color: #fff;
  text-transform: uppercase;
}

.about-me__text {
  line-height: 180%;
}

.about-me__text span {
  padding: 0.625rem 0.3125rem;
  background-color: #802bb1;
  color: #fff;
}

.about-me__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.skills-about-me__title {
  display: inline-block;
  color: #fff;
  padding: 0.625rem 0.3125rem;
  background-color: #2d283e;
  text-transform: uppercase;
  line-height: 150%;
}

.skills-about-me__box {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12.5rem 1fr;
  grid-template-columns: 12.5rem 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-about-me__text {
  line-height: 150%;
  text-transform: uppercase;
}

.skills-about-me__percent {
  position: relative;
  width: 100%;
  height: 1.25rem;
  background-color: #f0f0f0;
}

.skills-about-me__percent._watcher-view::before {
  content: "";
  width: 95%;
  -webkit-transition: all 3s ease 0s;
  -o-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
}

.skills-about-me__percent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #802bb1;
}

.skills-about-me__percent_1._watcher-view::before {
  content: "";
  width: 95%;
}

.skills-about-me__percent_1::before {
  width: 0%;
}

.skills-about-me__percent_2._watcher-view::before {
  content: "";
  width: 90%;
}

.skills-about-me__percent_2::before {
  width: 0%;
  background: -webkit-gradient(linear, right top, left top, from(#008aff), to(#00ffe7));
  background: -o-linear-gradient(right, #008aff, #00ffe7);
  background: linear-gradient(to left, #008aff, #00ffe7);
  -webkit-animation: line 5s linear infinite;
          animation: line 5s linear infinite;
}

.skills-about-me__percent_3._watcher-view::before {
  content: "";
  width: 60%;
}

.skills-about-me__percent_3::before {
  width: 0%;
}

.skills-about-me__percent_4._watcher-view::before {
  content: "";
  width: 20%;
}

.skills-about-me__percent_4::before {
  width: 0%;
  background: -webkit-gradient(linear, left top, right top, from(#802bb1), to(#564f6f));
  background: -o-linear-gradient(left, #802bb1, #564f6f);
  background: linear-gradient(to right, #802bb1, #564f6f);
  -webkit-animation: line 5s linear infinite;
          animation: line 5s linear infinite;
}

.skills-about-me__percent_5._watcher-view::before {
  content: "";
  width: 50%;
}

.skills-about-me__percent_5::before {
  width: 0%;
}

.skills-about-me__percent_6._watcher-view::before {
  content: "";
  width: 30%;
}

.skills-about-me__percent_6::before {
  width: 0%;
}

.skills-about-me__percent_7._watcher-view::before {
  content: "";
  width: 60%;
}

.skills-about-me__percent_7::before {
  width: 0%;
  background: -webkit-gradient(linear, left top, right top, from(#2d283e), to(#802bb1));
  background: -o-linear-gradient(left, #2d283e, #802bb1);
  background: linear-gradient(to right, #2d283e, #802bb1);
  -webkit-animation: line 5s linear infinite;
          animation: line 5s linear infinite;
}

.skills-about-me__percent_8._watcher-view::before {
  content: "";
  width: 15%;
}

.skills-about-me__percent_8::before {
  width: 0%;
}

.skills-about-me__percent_9._watcher-view::before {
  content: "";
  width: 10%;
}

.skills-about-me__percent_9::before {
  width: 0%;
}

@-webkit-keyframes line {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes line {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .my-creativity__title {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media (min-width: 75em) {
  .footer {
    padding-bottom: 2.5rem;
  }

  .footer__container {
    padding-top: 2.5rem;
  }

  .navigation {
    right: 3.125rem;
  }

  .navigation {
    bottom: 3.125rem;
  }

  .main__title {
    padding-top: 18.75rem;
  }

  .main__title {
    font-size: 2.875rem;
  }

  .main__text {
    font-size: 2rem;
  }

  .my-creativity {
    padding-top: 6.25rem;
  }

  .my-creativity {
    padding-bottom: 6.25rem;
  }

  .my-creativity__title {
    font-size: 2.25rem;
  }

  .my-creativity__items {
    padding-top: 3.125rem;
  }

  .my-creativity__items {
    gap: 3.125rem;
  }

  .my-creativity__btn {
    margin-top: 3.125rem;
  }

  .my-creativity__btn span {
    font-size: 1.5rem;
  }

  .item-my-creativity__title {
    font-size: 1.5rem;
  }

  .item-my-creativity__text {
    font-size: 0.875rem;
  }

  .quote {
    padding-top: 3.75rem;
  }

  .quote {
    padding-bottom: 3.75rem;
  }

  .quote__text {
    font-size: 1.5rem;
  }

  .music {
    padding-top: 6.25rem;
  }

  .music__title {
    font-size: 2.25rem;
  }

  .music__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .slide-music__name {
    font-size: 1.375rem;
  }

  .music__icon_3 {
    top: 0.00000625rem;
  }

  .My-work {
    padding-top: 6.25rem;
  }

  .about-me {
    padding-top: 6.25rem;
  }

  .about-me {
    padding-bottom: 6.25rem;
  }

  .about-me__title {
    font-size: 2.25rem;
  }

  .about-me__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .about-me__text {
    font-size: 1.5rem;
  }

  .skills-about-me__title {
    margin-top: 1.875rem;
  }

  .skills-about-me__title {
    font-size: 2.25rem;
  }

  .skills-about-me__box {
    padding-top: 1.875rem;
  }

  .skills-about-me__text {
    font-size: 1.5rem;
  }
}

@media (max-width: 100em) {
  .my-creativity__decor {
    display: none;
  }

  .music__decor {
    display: none;
  }
}

@media (max-width: 20em) {
  .footer {
    padding-bottom: 1.875rem;
  }

  .footer__container {
    padding-top: 1.875rem;
  }

  .navigation {
    right: 0.9375rem;
  }

  .navigation {
    bottom: 0.9375rem;
  }

  .main__title {
    padding-top: 9.375rem;
  }

  .main__title {
    font-size: 1.5rem;
  }

  .main__text {
    font-size: 1.25rem;
  }

  .my-creativity {
    padding-top: 3.125rem;
  }

  .my-creativity {
    padding-bottom: 3.125rem;
  }

  .my-creativity__title {
    font-size: 1.5rem;
  }

  .my-creativity__items {
    padding-top: 1.5625rem;
  }

  .my-creativity__items {
    gap: 1.5625rem;
  }

  .my-creativity__btn {
    margin-top: 1.5625rem;
  }

  .my-creativity__btn span {
    font-size: 1.25rem;
  }

  .item-my-creativity__title {
    font-size: 1.25rem;
  }

  .item-my-creativity__text {
    font-size: 0.75rem;
  }

  .quote {
    padding-top: 1.875rem;
  }

  .quote {
    padding-bottom: 1.875rem;
  }

  .quote__text {
    font-size: 1rem;
  }

  .music {
    padding-top: 3.125rem;
  }

  .music__title {
    font-size: 1.5rem;
  }

  .music__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .slide-music__name {
    font-size: 1.25rem;
  }

  .music__icon_3 {
    top: 0.00000625rem;
  }

  .My-work {
    padding-top: 3.125rem;
  }

  .about-me {
    padding-top: 3.125rem;
  }

  .about-me {
    padding-bottom: 3.125rem;
  }

  .about-me__title {
    font-size: 1.5rem;
  }

  .about-me__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .about-me__text {
    font-size: 1.125rem;
  }

  .skills-about-me__title {
    margin-top: 1.25rem;
  }

  .skills-about-me__title {
    font-size: 1.5rem;
  }

  .skills-about-me__box {
    padding-top: 0.9375rem;
  }

  .skills-about-me__text {
    font-size: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #2d283e;
    padding: 7.5rem 0.9375rem 3.125rem 0.9375rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 4;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 6.25rem;
    left: -100%;
    top: 0;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #564f6f;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.40625rem;
    cursor: pointer;
    z-index: 10;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__link {
    font-size: 1.5rem;
  }
}

@media (max-width: 29.99875em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .my-creativity__title {
    padding: 0.625rem 0.3125rem;
    width: 100%;
  }

  .my-creativity__btn span {
    width: 100%;
  }

  .music__dotts {
    gap: 0.625rem;
  }

  .about-me__title {
    width: 100%;
  }

  .skills-about-me__box {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 47.99875em) and (min-width: 75em) {
  .menu__link {
    font-size: 2.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
  .menu__link {
    font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem );
  }
}

@media (min-width: 20em) and (max-width: 75em) {
  .footer {
    padding-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
  }

  .footer__container {
    padding-top: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
  }

  .navigation {
    right: clamp( 0.9375rem , 0.1420454545rem  +  3.9772727273vw , 3.125rem );
  }

  .navigation {
    bottom: clamp( 0.9375rem , 0.1420454545rem  +  3.9772727273vw , 3.125rem );
  }

  .main__title {
    padding-top: clamp( 9.375rem , 5.9659090909rem  +  17.0454545455vw , 18.75rem );
  }

  .main__title {
    font-size: clamp( 1.5rem , 1rem  +  2.5vw , 2.875rem );
  }

  .main__text {
    font-size: clamp( 1.25rem , 0.9772727273rem  +  1.3636363636vw , 2rem );
  }

  .my-creativity {
    padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
  }

  .my-creativity {
    padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
  }

  .my-creativity__title {
    font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem );
  }

  .my-creativity__items {
    padding-top: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
  }

  .my-creativity__items {
    gap: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
  }

  .my-creativity__btn {
    margin-top: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
  }

  .my-creativity__btn span {
    font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem );
  }

  .item-my-creativity__title {
    font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem );
  }

  .item-my-creativity__text {
    font-size: clamp( 0.75rem , 0.7045454545rem  +  0.2272727273vw , 0.875rem );
  }

  .quote {
    padding-top: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
  }

  .quote {
    padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
  }

  .quote__text {
    font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
  }

  .music {
    padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
  }

  .music__title {
    font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem );
  }

  .music__title:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
  }

  .slide-music__name {
    font-size: clamp( 1.25rem , 1.2045454545rem  +  0.2272727273vw , 1.375rem );
  }

  .music__icon_3 {
    top: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem );
  }

  .My-work {
    padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
  }

  .about-me {
    padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
  }

  .about-me {
    padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
  }

  .about-me__title {
    font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem );
  }

  .about-me__title:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
  }

  .about-me__text {
    font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
  }

  .skills-about-me__title {
    margin-top: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }

  .skills-about-me__title {
    font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem );
  }

  .skills-about-me__box {
    padding-top: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
  }

  .skills-about-me__text {
    font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem );
  }
}

@media (any-hover: hover) {
  .logo-header__box:hover::before {
    inset: -1.25rem 0rem;
  }

  .logo-header__box:hover .logo-header__content .logo-header__img {
    opacity: 0;
  }

  .logo-header__link:hover {
    background-color: #070a1c;
    color: #fff;
  }

  .menu__link:hover::before {
    content: "";
    width: 100%;
  }

  .menu-navigation .fa:hover {
    -webkit-text-stroke: 2px var(--clr);
  }

  .my-creativity__btn span:hover {
    background-color: #fff;
    color: #564f6f;
  }

  .item-my-creativity__img:hover {
    scale: 1.1;
  }

  .item-my-creativity__title:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}

.webp .main{ background: url(../img/main/bg.webp) center/cover no-repeat; }